.wishlist {

}

.wishlist__link {
    position: relative;
    float: right;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.wishlist__icon {
    font-size: 40px;
}

.wishlist__counter {
    background: #e50000;
    width: 20px;
    height: 20px;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
    font-weight: 500;
    color: #fff;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 0;
    transition: .4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}